@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(246, 246, 246);
    font-family: 'Nunito Sans', sans-serif;
}

main {
    background-color: rgb(246, 246, 246);
    min-height: 71vh;
}

a {
    text-decoration: none;
    place-self: center;
}

li {
    list-style-type: none;
    display: flex;
}

.popular {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(46,45,45,1) 21%, rgba(61,61,60,1) 43%, rgba(65,65,64,1) 63%, rgba(45,45,44,1) 100%);
    height: 6vh;
    display: flex;
    place-items: center;
    padding: 0rem 7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popular > h1 {
    font-size: 1.7rem;
}

p {
    color: black;
}

.error {
    color: black;
}
