.detail > div > section > h2, h3, p {
    color: whitesmoke;
}

.detail > div > section {
    width: 60%;
    background: linear-gradient(180deg, rgb(69, 69, 69) 0%, rgb(50, 50, 50) 21%, rgb(31, 31, 31) 43%, rgb(50, 50, 50) 63%, rgb(69, 69, 69) 100%);
    padding: 2rem;
}
.detail {
    display: flex;
    flex-direction: column;

}
.detail > div {
    padding: 2rem 7rem;
}

.btnDetail {
    background: linear-gradient(180deg, rgb(69, 69, 69) 0%, rgb(50, 50, 50) 21%, rgb(31, 31, 31) 43%, rgb(50, 50, 50) 63%, rgb(69, 69, 69) 100%);
    width: 10rem;
    margin: 0 7rem;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.btnDetail:hover {
    transform: scale(1.1);
} 